# Core functionality - changes here should be rare!
/src/app.py                   @shaneknapp
/src/backend/database.py      @shaneknapp
/src/backend/routers/auth.py  @shaneknapp

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shaneknapp
